/* typo */
h1
{
    font-size: 1em;
}
h2{
    font-size: 0.9em;
}

h3
{
    font-size: 0.8em;
}

p
{
    font-size: 0.7em;
}

a
{
    color: black;
}

/* body */

body
{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

a
{
    color: black;
    display: contents;
}

/* header */

#logo
{
    width: 100px;
}

header
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 1.7em;
}

nav a
{
    font-size: 0.8em;
    text-decoration: none;
}

nav a:hover 
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 20px;
    display: inline;
}

/* section main */

main
{
    width: 90%;
    margin: auto;
    max-width: 1100px;
}

/* section trouvez */


#recherche
{
    margin-bottom: 23px;
    display: grid;
    grid-template-columns: 35px 187px 107px;
}

input
{
    border: 1px solid #F2F2F2;
}

button
{
    border: none;
    background-color: #0065FC;
    height: 30px;
    border-radius: 0px 8px 8px 0px;
    color: #fff;

}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.filtre
{
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    padding: 10px 20px 8px 20px;
    position: relative;
    margin-left: 20px;
}

.filtre .fas
{
    color: #0065FC;
    padding: 13px;
    border-radius: 18px;
    top: -2px;
    left: -2px;
    background-color: #DEEBFF;
    position: absolute
}

.filtre p
{
    margin: 0px;
    padding-left: 25px;
    font-weight: 700;
}

.fa, .fas 
{
    font-size: 0.7em;
}

#categorie
{
    display: flex;
    margin-bottom: 18px;

}

.fa-info
{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    width: 12px;
    padding-left: 9px;
    height: 14px;
    font-size: 0.6em;
    padding-top: 5px;
}

.fa-info ~ p
{
    display: inline;
    margin-left: 8px;
}

/* hebergement-aside */

#hebergement-aside
{
    display: grid;
    grid-template-columns: 4fr 8% 2fr;
    margin-top: 20px;
}

#hebergement
{
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 20px;
    display: grid;
    padding: 15px 15px 5px;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 35% 35% 70px;
    box-sizing: border-box;
}

#hebergement h2
{
    width: 100%;
    grid-column: 1/4;
}

.hebergement, .hebergement2, .hebergement3, .hebergement4, .hebergement5, .hebergement6
{
    width: 100%;
    border-radius: 16px;
    position: relative;
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 4px #cfcfcf;
    margin-bottom: 25px;
    cursor: pointer;
}


.hebergement
{
    background: url(Projet2/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: right 0px top -14px;
}

.hebergement2
{
    background: url(Projet2/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: right 0px top -14px;
}

.hebergement3
{
    background: url(Projet2/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: right 0px top -14px;
}

.hebergement4
{
    background: url(Projet2/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: right 0px top -55px;
}

.hebergement5
{
    background: url(Projet2/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right 0px top -14px;
}

.hebergement6
{
    background: url(Projet2/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: right 0px top -130px;
}

.cadre
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    font-size: 0.8em;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
    padding-left: 10px;
}

.cadre  p
{
    margin: 3px;
    margin-bottom: 0px;

}

.fa-star
{
    color: #0065FC;
}

.star 
{
    margin-left: 3px;
}

.greystar
{
    color: #adadad;
}


#afficher
{
    font-weight: 700;
    font-size: 0.8em;
}

/* aside */

aside p
{
    font-size: 0.9em;
}

aside
{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 15px 25px 0px 15px;
    grid-column-start: 3;
    box-sizing: border-box;
}

aside .fa-external-link-alt
{
    float: right;
    margin-top: 0px;
    font-size: 1em;
}

#populaire1, #populaire2, #populaire3
{
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #cfcfcf;
    position: relative;
    border: 3px solid #ffffff;
    margin-bottom: 25px;
    height: 100px;
    cursor: pointer;
}

#populaire1
{
    background: url(Projet2/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right 78px top -50px;
}

#populaire2
{
    background: url(Projet2/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) no-repeat;
    background-size: 100%;
    background-position: right 78px top -33px;
}
#populaire3
{
    background: url(Projet2/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) no-repeat;
    background-size: 63%;
    background-position: right 121px top -118px;
}
.cadre2
{
    position: absolute;
    right: 0px;
    width: 54%;
    height: 100px;
    padding-left: 4px;
    background-color: #ffffff;
    font-size: 0.8em;
    border-radius: 0px 5px 5px 0px;
}

.cadre2 .star
{
    bottom: 5px;
    position: absolute;
}

/* activite */

#activite
{
    height: 290px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    box-sizing: border-box;
}

.activite, .activite2,.activite3, .activite4, .activite5, .activite6
{
    width: 22%;
    border-radius: 16px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px #cfcfcf;
    cursor: pointer;
}
.activite
{
    height: 265px;
    background: url(Projet2/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right -65px top -14px;
}
.activite2
{
    height: 120px;
    background: url(Projet2/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right -1px top -100px;
}
.activite3
{
    height: 120px;
    background: url(Projet2/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right -1px top 0px;
}
.activite4
{
    height: 265px;
    background: url(Projet2/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right -65px top -14px;
}

.activite5
{
    height: 120px;
    background: url(Projet2/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right -1px top 0px;
}
.activite6
{
    height: 120px;
    background: url(Projet2/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: right -1px top -20px;
}

#activite .cadre
{
    height: 30px;
    padding-left: 4px;
    background-color: #ffffff;
    font-size: 0.8em;
    border-radius: 0px 0px 16px 16px;
}

#activite p
{
    margin: 7px 10px;
}

footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
}

    /* éléments invisible */

#bouton
{
    display: none;
}

    /* ---------------------------------media squeris 966px---------------------------------*/


    @media (max-width: 966px)
    {    

        .filtre
        {
            height: 15px;
            margin: 7px;
        }
    
        #categorie
        {
            flex-wrap: wrap;
        }    
       
        #categorie p
        {
            width: 100%;
        }
    
    
        #hebergement-aside
        {
            grid-template-columns: 1fr;

        }
    
        aside 
        {
            width: 100%;
            grid-column-start: 1;
            grid-row-start: 1;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 30px 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 20px;
        }
            
    
        h2 .fa-external-link-alt
        {
            font-size: 1.1em;
        }
    
        aside h2
        {
            width: 100%;
            margin: auto;
            grid-column: 1/3;
        }

        #populaire3
        {
            grid-column: 1/3;
            margin: auto;
            width: 50%;
        }
    
        #populaire1, #populaire2, #populaire3
        {
            margin: auto;
            background-size: 80%;
            background-position: left;    
        }
    
        #hebergement
        {
            background-color: white;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px 1fr 1fr 1fr 60px;
        }

        #hebergement h2
        {
            grid-column: 1/3;

        }
    

        .hebergement, .hebergement2, .hebergement3, .hebergement4, .hebergement5, .hebergement6
        {
            height: 200px;
            width: 98%;
            margin: auto;
            background-size: cover;
            margin-bottom: 20px;
        }
    
        
        #hebergement p 
        {
            width: 100%;
            font-size: 1em;
        }
    
        #activite p
        {
            font-size: 0.9em;
        }
        #activite
        {
            height:auto;
            width: 100%;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
        }
    
        #marseille
        {
            margin-left: 20px;
            margin-bottom: 0px;
        }
    
    
        .activite, .activite2, .activite3, .activite4, .activite5, .activite6
        {
            height: 200px;
            width: 100%;
            margin-bottom: 20px;
            background-position: right;
        }
    


        /*--------------------------------- media squeris 450px--------------------------------*/


        @media (max-width: 450px)
        {

            body
            {
                margin: 0px;
                width: 100%;
            }
            header
            {
                width: 100%;
            }

            #logo
            {
                position: absolute;
                margin: 5px 15px;

            }

            nav
            {
                width: 100%;
                font-size: 1.3em;
            }

            nav ul
            {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-left: 0px;
                height: 80px;
                grid-row-gap: 16px;
            }

            #heb
            {
                grid-area: 3;
                margin: auto;
                width: 100%;
                text-align: center;  
                padding-bottom: 10px;
                border-bottom: 3px solid #f2f2f2;
            }

            #act
            {
                grid-area: 3;
                margin: auto;
                width: 100%;
                text-align: center;  
                padding-bottom: 10px;
                border-bottom: 3px solid #f2f2f2;
            }

            #ins
            {
                grid-column-start: 2;
                font-weight: 700;
                font-size: 0.9em;
                justify-self: right;
                margin-right: 20px;
            }

            #heb:hover
            {
                color: #0065FC;
                border-bottom: 3px solid #0065FC;;
                border-top: none;
            }

            #act:hover
            {
                color: #0065FC;
                border-bottom: 3px solid #0065FC;;
                border-top: none;
            }

            nav a:hover
            {
                border-top: none;
            }

            #recherche 
            {
                margin-bottom: 23px;
                display: grid;
                grid-template-columns: 40px 1fr 40px;
            }

            #bouton
            {
                display: inline;
                background-color: #0065FC;
                height: 30px;
                border-radius: 0px 8px 8px 0px;
                color: #fff;
                padding-left: 15px;
                padding-top: 5px;
            }
            button
            {
                display: none;
            }

            main
            {
                margin: 0px;
                width: 100%;
            }

            #trouvez
            {
                margin: 15px;
            }

            aside
            {
                display: flex;
                flex-direction: column;
                border-radius: 0px;
                padding: 15px;
            }

            aside h2
            {
                grid-column: 1;
            }

            #populaire1, #populaire2, #populaire3

            {
                width: 98%;
            }
            #hebergement
            {
                display: flex;
                flex-direction: column;
            }

            #activite
            {
                display: flex;
                flex-direction: column;
            }

            .hebergement2
            {
                background-position: right 0px top -46px;

            }

            .hebergement4
            {
                background-position: right 0px top -105px;

            }

            .hebergement6
            {
                background-position: right 0px top -229px;
            }

            footer
            {
                flex-direction: column;          
                width: 100%;    
            }

        }

    }


