/* typo */
h2
{
    font-size: 1em;
}

h3
{
    font-size: 0.8em;
    padding-left: 23px;
}

p
{
    font-size: 0.7em;
}


/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    width: 900px;
    margin: auto;
    padding-top: 20px;
}

/* header */

header
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 3em;
}

nav a
{
    font-size: 0.8em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover 
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin-top: 8em;
    padding-top: 20px;
}

/* section1 */


#section1 h2
{
    margin-bottom: 4px;
}

#recherche
{
    width: 291px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 8px;
    margin-bottom: 23px;
    border: 1px solid #F2F2F2;
}

input
{
    border-color:#F2F2F2;
    appearance: none;
    height: 30px;
    border: slategray;
}

button
{
    appearance: none;
    border: none;
    padding-left: 9px;
    background-color: #0065FC;
    width: 108px;
    height: 30px;
    border-radius: 0px 8px 8px 0px;
    color: #fff;

}

.fa-map-marker-alt
{
    width: 22px;
    padding-left: 12px;
}

.filtre
{
    display: flex;
    width: fit-content;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    padding: 10px 20px 8px 20px;
    position: relative;
    margin-left: 20px;
}

.filtre .fas
{
    color: #0065FC;
    padding: 13px;
    border-radius: 18px;
    top: -2px;
    left: -2px;
    background-color: #DEEBFF;
    position: absolute
}

h3
{
    margin: 0px;
}

.fa, .fas 
{
    font-size: 0.7em;
}

#categorie
{
    display: flex;
    margin-bottom: 18px;

}

.fa-info
{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    width: 12px;
    padding-left: 9px;
    height: 14px;
    font-size: 0.6em;
    padding-top: 5px;
}

.fa-info ~ p
{
    display: inline;
    margin-left: 8px;
}

/* section2 */

#section2
{
    background-color: #f2f2f2;
    width: 590px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}

#section2 h4
{
    width: 100%;
}

.hebergement
{
    height: 114px;
    width: 165px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 0px top -14px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

.hebergement2
{
    height: 114px;
    width: 165px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 4px #cfcfcf;
    background-position: right 0px top -14px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

.hebergement3
{
    height: 114px;
    width: 165px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 0px top -14px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

.hebergement4
{
    height: 114px;
    width: 165px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 0px top -55px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

.hebergement5
{
    height: 114px;
    width: 165px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 0px top -14px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

.hebergement6
{
    height: 114px;
    width: 165px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 0px top -115px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

.cadre
{
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 43px;
    padding-left: 4px;
    background-color: #ffffff;
    font-size: 0.8em;
    border-radius: 0px 0px 5px 5px;
}

.cadre  p
{
    margin: 3px;
    margin-bottom: 0px;

}

.fa-star
{
    color: #0065FC;
}

.star 
{
    margin-left: 3px;
}

.greystar
{
    color: #adadad;
}

#section2 p
{
    width: 100%;
}

/* aside */

aside
{
    background-color: #f2f2f2;
    width: 230px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}

aside .fas
{
    margin-top: 27px;
}
#section2-aside
{
    display: flex;
    justify-content: space-between;
}

#populaire1
{
    height: 100px;
    width: 220px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 78px top -0px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

#populaire2
{
    height: 100px;
    width: 220px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 170px;
    border: 3px solid #ffffff;
    background-position: right 78px top -0px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
#populaire3
{
    height: 100px;
    width: 220px;
    border-radius: 16px;
    background: url(Projet2/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 100px;
    border: 3px solid #ffffff;
    background-position: right 124px top -30px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
.cadre2
{
    position: absolute;
    right: 0px;
    width: 54%;
    height: 100px;
    padding-left: 4px;
    background-color: #ffffff;
    font-size: 0.8em;
    border-radius: 0px 5px 5px 0px;
}

.cadre2 .star
{
    bottom: 5px;
    position: absolute;
}

/* section3 */

#section3
{
    height: 290px;
    display: flex;
    width: 900px;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 15px 0px 15px 0px;
    align-content: space-between;
}

.activite
{
    height: 265px;
    width: 179px;
    border-radius: 16px;
    background: url(Projet2/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 382px;
    background-position: right -65px top -14px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
.activite2
{
    height: 120px;
    width: 200px;
    border-radius: 16px;
    background: url(Projet2/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 202px;
    background-position: right -1px top -83px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
.activite3
{
    height: 120px;
    width: 200px;
    border-radius: 16px;
    background: url(Projet2/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 204px;
    background-position: right -1px top 0px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
.activite4
{
    height: 265px;
    width: 179px;
    border-radius: 16px;
    background: url(Projet2/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 382px;
    background-position: right -65px top -14px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
.activite5
{
    height: 120px;
    width: 200px;
    border-radius: 16px;
    background: url(Projet2/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 202px;
    background-position: right -1px top 0px;
    box-shadow: 0px 4px 4px #cfcfcf;
}
.activite6
{
    height: 120px;
    width: 200px;
    border-radius: 16px;
    background: url(Projet2/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat;
    position: relative;
    margin-bottom: 25px;
    background-size: 202px;
    background-position: right -1px top 0px;
    box-shadow: 0px 4px 4px #cfcfcf;
}

#section3 .cadre
{
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 25px;
    padding-left: 4px;
    background-color: #ffffff;
    font-size: 0.8em;
    border-radius: 0px 0px 16px 16px;
}

#section3 p
{
    margin: 7px 10px;
}

footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
}

    /* media squeris */


@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
}